@{ Layout = "_layout"; }


<article>
    <h2>@Document.GetString("Title")</h2>
@if(!Document.GetBool("HidePublishInfo", false))
{
    <span class="author">@Document.GetString("Author")</span>
    <span class="published">@Document.GetString("Published")</span>
}

    @RenderBody()
@if(Document.GetBool("AllowComments", true))
{
    <script src="https://giscus.app/client.js"
        data-repo="e13tech/blog"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyNDMxNDI4NDQ="
        data-category="General"
        data-category-id="DIC_kwDODn4QvM4CirAk"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
    </script>
}
</article>
<aside>
    <section>
        <h3>Recent</h3>
        <ul>
            <li><a href="#">Post 1</a></li>
            <li><a href="#">Post 2</a></li>
            <li><a href="#">Post 3</a></li>
        </ul>
    </section>
    <section>
        <h3><a href="/tags">Tags</a></h3>
        <ul class="cloud">
            @foreach (IDocument tag in OutputPages.Get("tags.html").GetChildren().OrderByDescending(x => x.GetChildren().Count()).Take(13))
            {
            string postCount = tag.GetChildren().Count().ToString();
            <li><a href="@Context.GetLink(tag)" data-weight="@postCount"> @tag.GetTitle() (@postCount)</a></li>
            }
        </ul>
    </section>
</aside>

@if(Document.GetBool("AllowSharing", true))
{
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5e55da1246c3ae001282af3a&product=sticky-share-buttons&cms=website' async='async'></script>
}