<!DOCTYPE HTML>
<html lang="en-us">
<head>
    <title>@Document.GetString("PageTitle")</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="@Context.GetLink("/styles/main.css")" />
    <link rel="stylesheet" href="@Context.GetLink("/styles/prism.css")" />
    @if(Document.GetLink(true).Contains("/posts/")) {
    <meta name="description" content="@Document.GetString("Lead")" />
    <meta name="keywords" content="@Document.GetString("Keywords")" />
    <meta name="image" content="@Document.GetString("SiteUrl")/@Document.GetString("Image")" />
    <link rel="canonical" href="@Document.GetLink(true)" />
    }
    @if(Document.GetString("Author")!=null) {
        <link rel="author" title="@Document.GetString("Author")" href="@Document.GetString("SiteUrl")/authors/@Document.GetString("Author").ToLowerInvariant().Replace(' ', '-')" />
    }
</head>
<body class="line-numbers">
    <div>

        <header>
            <input type="checkbox" id="menu-toggle" />
            <label for="menu-toggle" class="open-sidebar"><img src="@Context.GetLink("images/menu.svg")" alt="Open Menu" /></label>
            <label id="overlay" for="menu-toggle"></label>
            <nav>
                <label for="menu-toggle" class="close-sidebar"><img src="@Context.GetLink("images/close.svg")" alt="Close Menu" /></label>
                <ul>
                    <li><a href="@Context.GetLink("/")">Home</a></li>
                    <li><a href="@Context.GetLink("/posts")">Posts</a></li>
                    <li><a href="@Context.GetLink("/tags")">Tags</a></li>
                    <li><a href="@Context.GetLink("/about")">About</a></li>
                    <li class="social first-social"><a href="https://www.linkedin.com/in/jjbussert"><img src="@Context.GetLink("images/social/linkedin.svg")" alt="linkedin" /></a></li>
                    <li class="social"><a href="https://github.com/JJBussert"><img src="@Context.GetLink("images/social/github.svg")" alt="github" /></a></li>
                    <li class="social"><a href="https://twitter.com/JJ_Bussert"><img src="@Context.GetLink("images/social/x.svg")" alt="twitter / x" /></a></li>
                    <li class="social"><a href="https://www.reddit.com/user/jjbussert"><img src="@Context.GetLink("images/social/reddit.svg")" alt="reddit" /></a></li>
                    @foreach (IDocument rssFeed in Outputs["**/*.rss"])
                    {
                        <li class="social"><a href="@rssFeed.GetLink()" title="@rssFeed.GetString(WebKeys.Title)"><img src="@Context.GetLink("images/social/rss.svg")" alt="rss" /></a></li>
                    }
                </ul>
            </nav>

            <a class="logo" href="@Context.GetLink("/")">
                <img src="@Context.GetLink("images/logo.svg")" alt="Company Logo">
            </a>
        </header>

        <main>
            @RenderBody()
        </main>

        <footer>
            <span class="disclaimer">Disclaimer: The opinions expressed herein are my own personal opinions and do not represent my employer's view in any way.</span>
            <span class="copyright">@Context.GetString("SiteTitle") &copy; @DateTime.Now.Year</span>
            <nav>
                <ul>
                    <li><a href="@Context.GetLink("privacy")">Privacy</a></li>
                </ul>
            </nav>
        </footer>

    </div>

    <script src="@Context.GetLink("/js/prism.js")"></script>

</body>
</html>